<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="xxxx" connectionString="Data Source=xxx.xxx.xxx.xx;Initial Catalog=xxxx;User ID=xxxx; Password = xxxxx" />
        <add name="PointOfSale.My.MySettings.group26ConnectionString"
            connectionString="Data Source=xxx.xxx.xxx.xx;Initial Catalog=group26;User ID=xxxx;Password=xxxx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<!--
	<connectionStrings>
		<add name="VCITY_CHICKS" connectionString="Data Source=DIGNITY-PC;Initial Catalog=VCITY_CHICKS;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
